<template>
    <div class="home">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div>
                    <label>I know what I want</label>
                </div>
                <input v-model="nameQuery">
            </div>
            <div class="col-md-6 mb-4">
                <div>
                    <label>What can I do with this</label>
                </div>
                <input v-model="ingredientQuery">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div>
                    <button
                        class="btn btn-primary"
                        @click="getDrink"
                    >Search</button>
                </div>

                <div>
                    <button
                        class="btn btn-primary mt-3"
                        @click="surpriseMe"
                    >Surprise me!!!</button>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div
            v-if="loadingStatus && !cocktails"
            class="spinner-border mt-4"
            role="status">
            <span class="sr-only"></span>
        </div>

        <CocktailsList
            v-if="cocktails && !emptyResult"
            :cocktails="cocktails"
            class="mt-3"
            @selected="e => cocktailSelected(e)"
        />

        <div
            v-if="emptyResult"
            class="mt-3">
            Sorry, nothing found. Try Again
        </div>
    </div>
</template>

<script>
import CocktailsList from './CocktailsList.vue'
import CocktailService from '../services/CocktailService';

export default {
    components: {
        CocktailsList,
    },

    data() {
        return {
            cocktails: null,
            nameQuery: null,
            ingredientQuery: null,
            loadingStatus: false,
            emptyResult: false,
        }
    },

    // Prevent to have values in both inputs
    watch: {
        nameQuery: {
            handler() {
                if (this.ingredientQuery !== null) {
                    this.ingredientQuery = null;
                }
            }
        },

        ingredientQuery: {
            handler() {
                if (this.nameQuery !== null) {
                    this.nameQuery = null;
                }
            }
        }
    },

    methods: {
        resetBeforeQuery() {
            this.emptyResult = false;
            this.loadingStatus = true;
            this.clearCocktailsList();
        },

        getDrink() {
            this.resetBeforeQuery();    

            if (this.nameQuery) {
                CocktailService.getCocktailByName(this.nameQuery).then((res) => {
                    this.cocktails = res.body.drinks;
                    this.loadingStatus = false;
                    if (this.cocktails === undefined || this.cocktails === null) this.emptyResult = true;
                }, (res) => {
                    // catching error if there is any
                    alert('OUPS something went wrong', res.body)
                });
            } else {
                CocktailService.getCocktailByIngredient(this.ingredientQuery).then((res) => {
                    this.cocktails = res.body.drinks;
                    this.loadingStatus = false;
                    if (this.cocktails === undefined || this.cocktails === null) this.emptyResult = true;
                }, (res) => {
                    // catching error if there is any
                    alert('OUPS something went wrong', res.body)
                });
            }

            this.resetQueries();
        },

        surpriseMe() {
            CocktailService.surprise().then((res) => {
                this.cocktailSelected( res.body.drinks[0])
            }, (res) => {
                // catching error if there is any
                alert('OUPS something went wrong', res.body)
            })
        },

        resetQueries() {
            this.nameQuery = null;
            this.ingredientQuery = null;
        },

        clearCocktailsList() {
            this.cocktails = null;
        },

        cocktailSelected(selectedCocktail) {
            this.$router.push(`/cocktails/${selectedCocktail.idDrink}`);
        }
    }
}
</script>